@font-face {
    font-family: GardensC;
    src: url(../fonts/GardensC.otf);
}
.button-wh{
    background-color: white;
    color: black;
    height: 40px;
    border: none;
}
.btn {
    background-color: rgb(255, 152, 17);
    color: white;
}
ul .navbar-nav{
    color: black;
}
.navbar{
    padding: 0;
}
.container{
    padding: 0;
}
.catalog{
    background-color: rgb(241, 241, 241);
}
a{
    color: black;
    text-decoration: none;
}
.catalog a{
    margin-right: 10px;
}
.card-body{
    background-color: white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.info{
    background-color: rgb(255, 152, 17);
}
input{
    background-color: rgb(255, 152, 17);
    border: 1px solid white;
    height: 40px;
}
::placeholder {
    color: white;
  }